<strong>Olá, {{ student }}</strong>
<p>Bem vindo a GymPoint, sua matrícula foi realizada com sucesso!</p>
</br>
<strong>INFORMAÇÕES</strong>
<p>Plano: {{ plan }}</p>
<p>Data de início: {{ start_date }}</p>
<p>Data de término: {{ end_date }}</p>
<p>Preço: {{ duration }} x R$ {{ price }}</p>
